// Cores
$slayer-orange: #F90;
$white: #FFF;

// Gradientes
$characters-gradient: linear-gradient(180deg, rgb(11 1 72 / 100%) 0%, rgb(23 9 115 / 100%) 100%), url("@public/fundos/fundo-casa.png");

// Fontes
$font-inter: 'Inter', sans-serif;
$font-arapey: 'Arapey', serif;
$font-cinzel: 'Cinzel', serif;

// Estilos Personagens
$tanjiro: linear-gradient(180deg, #29795F 0%, #0DFFB0 100%), url("@public/personagens/tanjiro/tanjiro-fundo.png") top right / cover;
$nezuko: linear-gradient(180deg, #FF4D97 0%, #321E00 100%), url("@public/personagens/nezuko/nezuko-fundo.png") top right / cover;
$zenitsu: linear-gradient(180deg, #FFB300 0%, #321E00 100%), url("@public/personagens/zenitsu/zenitsu-fundo.png") top / cover;
$inosuke: linear-gradient(180deg, #D3A478 0%, #321E00 100%), url("@public/personagens/inosuke/inosuke-fundo.png") bottom;

// Estilos Hashiras
$rengoku: linear-gradient(180deg, #D42828 0%, #eb1919b7 25%), url("@public/hashiras/rengoku/rengoku-fundo.png") top / cover;
$uzui: linear-gradient(180deg, #41556A 0%, #000 100%), url("@public/hashiras/uzui/uzui-fundo.png") top / cover;
$tomioka: linear-gradient(180deg, #0243EC 0%, #000 100%), url("@public/hashiras/tomioka/tomioka-fundo.png") top / cover;
$tokito: linear-gradient(180deg, #22C6B4 0%, #001311 100%), url("@public/hashiras/tokito/tokito-fundo.png") top / cover;
$gyomei: linear-gradient(180deg, #5A5A5A 0%, #2E2E2E 100%), url("@public/hashiras/gyomei/gyomei-fundo.png") bottom / cover; // Cinza escuro para pedra
$sanemi: linear-gradient(180deg, #4CAF50 0%, #0C3B0C 100%), url("@public/hashiras/sanemi/sanemi-fundo.png") bottom / cover; // Verde intenso para vento
$shinobu: linear-gradient(180deg, #A043A0 0%, #3B103B 100%), url("@public/hashiras/shinobu/shinobu-fundo.png") bottom / cover; // Roxo para veneno/inseto
$mitsuri: linear-gradient(180deg, #F69 0%, #73264D 100%), url("@public/hashiras/mitsuri/mitsuri-fundo.png") bottom / cover; // Rosa para amor
$obanai: linear-gradient(180deg, #3B3B3B 0%, #000 100%), url("@public/hashiras/obanai/obanai-fundo.png") bottom / cover; // Preto/cinza para serpente

// Mixins
@mixin fundo-personagem($personagem) {
  background: $personagem;
  background-blend-mode: overlay;
}

@mixin fundo-personagem-detalhes($imagem, $overlay: rgba(0, 0, 0, 0.6), $position: center) {
  background: 
    linear-gradient($overlay, $overlay), 
    url($imagem);
  background-position: $position;
  background-size: cover;
}