.container_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 92vw;
  margin: 0 auto;
  padding: 1rem 0;
  font-family: $font-inter;
}

.mensagem {
  position: fixed;
  top: 15%;
  left: 37%;
  display: none;
  align-items: center;
  gap: 1rem; 
  padding: 1rem 1.5rem;
  font-family: Cinzel, serif;
  letter-spacing: 0.1rem;
  text-align: center; 
  color: $white;
  background: linear-gradient(135deg, #1b1b1b, #2c2c2c); 
  border: 2px solid #1dbf73;
  border-radius: 10px;
  box-shadow: 0 0 15px rgb(0 0 0 / 50%); 
  animation: aparecer 0.5s ease-in-out;

  img {
    width: 40px;
    border-radius: 50%;
  }

  &.sumir {
    animation: sumir 0.5s ease-in-out;
  }
}

.container_header__menu {
  ul {
    display: flex;
    gap: 6rem;
    list-style: none;

    li {
      font-size: 2rem;
      font-weight: 300;
      text-transform: uppercase;
      cursor: pointer;
    }
  }
}

.container_header__slayer {
  .slayer {
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 15rem;
    padding: 3px 0;
    border-radius: 28px;

    p {
      margin-left: 9px;
      font-size: 1.4rem;
    }

    img {
      width: 3.4rem;
      margin-left: 4px;
    }
  }

  .ellipse_laranja {
    border: 4px solid $slayer-orange;
  }

  .ellipse_verde {
    border: 4px solid #13D696;
  }
}

.verde {
  color: #13D696;
}

.active {
  color: #F90;
}

@media (width >= 801px) and (width <= 1094px) {
  .container_header__logo img {
    width: 80%;
  }

  .container_header__slayer .slayer {
    gap: 0.5rem;
    width: 11.5rem;
    padding: 3px 0;

    img {
      width: 3.1rem;
    }

    p {
      margin-left: 4px;
      font-size: 1.2rem;
    }
  }
}

@media (width <= 800px) {
  .container_header {
    display: flex;
    flex-wrap: wrap; 
    gap: 1rem;
  }

  .mensagem {
    top: 13%;
    left: 5%;
  }

  .container_header__logo { 
    display: flex; 
    flex: 1;
    justify-content: center;
    order: 1;

    img {
      width: 7rem;
    }
  }

  .container_header__slayer { 
    display: flex; 
    flex: 1;
    justify-content: center;
    order: 2; 

    .slayer {
      gap: 0;
      width: 10.5rem;
      padding: 2px 0;

      img {
        width: 2.5rem;
      }

      p {
        font-size: 1.2rem;
      }
    }
  }

  .container_header__menu {
    display: flex; 
    justify-content: center;
    order: 3; 
    width: 100%; 
    margin-top: 1rem; 
    
    ul {
      gap: 1.5rem; 
    }
  }
}

@keyframes aparecer {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }

  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes sumir {
  0% {
    opacity: 1;
    transform: translateY(0%);
  }

  100% {
    opacity: 0;
    transform: translateY(-100%);
  }
}