@use "@src/styles/variables.scss" as *;

// Personagens
.tanjiro_detalhes {
  @include fundo-personagem-detalhes("https://i.pinimg.com/1200x/a4/00/4b/a4004b19548866ca7f3c6bbacf236e8e.jpg");
}

.nezuko_detalhes {
  @include fundo-personagem-detalhes("https://i.pinimg.com/1200x/9a/02/bb/9a02bb7cd08e693c2902894364d6e2dc.jpg");
}

.zenitsu_detalhes {
  @include fundo-personagem-detalhes("https://i.pinimg.com/1200x/d6/92/d9/d692d919d91cb4181cf123ad3b7458e8.jpg");
}

.inosuke_detalhes {
  @include fundo-personagem-detalhes("https://images3.alphacoders.com/126/thumb-1920-1269680.jpg");
}

// Hashiras

.rengoku_detalhes {
  @include fundo-personagem-detalhes("https://www.hdwallpapers.in/download/kyojuro_rengoku_fire_background_hd_demon_slayer_kimetsu_no_yaiba-1920x1080.jpg");
}

.uzui_detalhes {
  @include fundo-personagem-detalhes("https://www.hdwallpapers.in/download/tengen_uzui_kimetsu_no_yaiba_hd_demon_slayer_kimetsu_no_yaiba-1920x1080.jpg");
}

.tomioka_detalhes {
  @include fundo-personagem-detalhes("https://i.pinimg.com/1200x/86/68/29/8668299b796407d98f19ee2b12562b1f.jpg");
}

.tokito_detalhes {
  @include fundo-personagem-detalhes("https://i.pinimg.com/1200x/a7/7a/4a/a77a4a6cfbd14df8ced66c7b4b04f5be.jpg");

  .container_main__imagem_personagem img {
    height: 62vh;
  }
}

.gyomei_detalhes {
  @include fundo-personagem-detalhes("https://images4.alphacoders.com/136/thumb-1920-1368150.jpeg");
}

.sanemi_detalhes {
  @include fundo-personagem-detalhes("https://4.bp.blogspot.com/-XatavJYIM3o/XZJsRTgHBGI/AAAAAAAAOl8/AZtZTx9P32MMWsDj5sQS9UhvljEdZYe0QCLcBGAsYHQ/w919/sanemi-shinazugawa-kimetsu-no-yaiba-wind-pillar-uhdpaper.com-4K-5.1089-wp.thumbnail.jpg");
}

.shinobu_detalhes {
  @include fundo-personagem-detalhes("https://wallpapers.com/images/hd/shinobu-kocho-and-wisteria-lpvk6bctw08mq0eq.jpg");
}

.mitsuri_detalhes {
  @include fundo-personagem-detalhes("https://i.pinimg.com/originals/28/28/f4/2828f4c3899aacbd54877f300593ded0.jpg");
}

.obanai_detalhes {
  @include fundo-personagem-detalhes("https://images4.alphacoders.com/136/thumb-1920-1368087.png", rgba(0, 0, 0, 0.6));
}

/* ------------------------------------- */

// Estilos respirações

.respiracao_agua {
  background-color: #4692EC;
}

.hinokami_kagura {
  background: linear-gradient(180deg, #FF3D00, #ECDB46);
}

.kekkijutsu_bakketsu {
  background: linear-gradient(135deg, #FF758C, #FF2E63);
}

.respiracao_trovao {
  background: linear-gradient(180deg, #FFD700, #e99803);
}

.respiracao_fera {
  background: linear-gradient(135deg, #6B8E23, #3E2723);
}

.respiracao_chamas {
  background: linear-gradient(180deg, #FF4500, #FF8C00);
}

.respiracao_som {
  background: linear-gradient(135deg, #8B00FF, #FFD700);
}

.respiracao_nevoa {
  background: linear-gradient(135deg, rgb(166 166 166 / 50%), rgb(211 211 211 / 50%));
}

.respiracao_pedra {
  background: linear-gradient(180deg, #6D6D6D, #3B3B3B);
}

.respiracao_amor {
  background: linear-gradient(180deg, #FF80B0, #D1477C);
}

.respiracao_serpente {
  background: linear-gradient(180deg, #737373, #2E2E2E);
}

.respiracao_vento {
  background: linear-gradient(180deg, #66BB6A, #2E7D32);
}

.respiracao_inseto {
  background: linear-gradient(180deg, #9C27B0, #6A1B9A);
}

@media (width <= 768px) {
  .zenitsu_detalhes {
    @include fundo-personagem-detalhes("https://i.pinimg.com/1200x/d6/92/d9/d692d919d91cb4181cf123ad3b7458e8.jpg",rgba(0, 0, 0, 0.6), $position: left);
  }

  .tokito_detalhes {
    @include fundo-personagem-detalhes("https://i.pinimg.com/736x/36/cb/de/36cbde02a4cdbd09049d791be98265cd.jpg", rgba(0, 0, 0, 0.6), $position: center);

    .container_main__imagem_personagem img {
      height: 26vh;
    } 
  }

  .shinobu_detalhes {
    @include fundo-personagem-detalhes("https://i.pinimg.com/1200x/4f/6a/bd/4f6abd8612c424150f312879fed8ef3f.jpg");
  }
}