@use "./classes_personagens.scss";

.inicio {
  height: 100dvh;
  text-transform: uppercase;
  background: $characters-gradient;
  background-blend-mode: overlay;
}

.container_main {
  width: 90vw;
  margin: 4rem auto;

  .title {
    font-size: 3.6rem;
  }
}

.container_main__characters, .container_main__characters_hashiras {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  width: 90vw;
  margin: 3rem auto;
  padding: 1rem;
  overflow-x: scroll;

  &::-webkit-scrollbar {
    display: none;
  }
}

.container_main__characters_hashiras {
  gap: 3.5rem;
  padding-left: 5px;
}

article {
  width: 24rem;
  border-radius: 22px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  opacity: 0.6;
  filter: blur(6px);

  &:hover {
    transform: scale(1.05);
  }

  h2 {
    width: 40%;
    margin-left: 3rem;
    font-size: 2rem;
    font-weight: 400;
    transform: translateY(1.2rem);
  }

  .container_img {
    display: flex;
    justify-content: flex-end;
  }
  
  img {  
    width: 62%;
    height: 320px;
    border-radius: 20px;
    object-fit: cover;
  }
}

article.visible { 
  opacity: 1;
  filter: blur(0); 
}

.container_button_hashira {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.button_hashira {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  padding: 1.2rem 1.3rem;
  background-color: #111;
  border: none;
  border-radius: 3.4rem;
  transition: transform 0.3s ease-in-out;
  cursor: pointer;

  p {
    font-size: 1.4rem;
    font-weight: 400;
    text-transform: uppercase;
    color: $slayer-orange;
  }

  &:hover {
    transform: scale(1.05);
  }
}

.container_buttons_controles {
  display: none;
  align-items: center;
  justify-content: center;
  gap: 2rem;

  button:nth-child(1) {
    img {
      transform: rotate(180deg);
    }
  }
}

.container_buttons.active {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2rem;
  margin: 2rem 0;
}

@media (width >= 801px) and (width <= 1094px) {
  article {
    width: 19rem;
  }
}

@media (width <= 800px) {
  .container_main {
    .title {
      font-size: 2.8rem;
      text-align: center;
    }

    .container_main__characters {
      gap: 2rem;
      padding-left: 5px;

      article {
        width: 22rem;

        &:hover {
          transform: scale(1);
        }
      }
    }

    .container_buttons {
      button {
        padding: 1rem;

        img {
          width: 3.7rem;
        }
      }
    }
  }

  .container_buttons.active {
    justify-content: flex-end;
    
    .container_buttons_controles {
      justify-content: space-between;
      margin: 0 auto;
    }
  }

  .container_buttons {
    .container_buttons_controles {
      margin-bottom: 2rem;
    }
  }

  .button_hashira {
    transition: transform 0.2s ease-in-out;
    cursor: none;

    &:hover {
      transform: scale(1);
    }

    &:active {
      transform: scale(0.8);
    }
  }
}

@keyframes fade-out {
  to {
    opacity: 0;
    transform: scale(0.2) translateY(-20px);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: scale(0.2) translateY(-20px);
  }

  to {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}

.fade_out {
  animation: fade-out 0.5s forwards;
}

.fade_in {
  animation: fade-in 0.5s ease-in-out;
}
